h1 {
  color: blue;
  text-align: center;
}

p {
  color: red;
}

div {
  background-color: teal;
  width: 300px;
  height: 200px;
  margin: 30px;
  padding: 20px;

  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: italic;

  border: 10px solid blue;
  border: 3px dotted red;
}

table {
  border: 3px solid black;
  border-collapse: collapse;
  margin: 30px;
  width: 60%;
}

td, th {
  border: 2px dotted red;
  padding: 5px;
  text-align: center;
}

th {
  background-color: lightgray;
}

#top {
  font-size: 36px;
}

#middle {
  font-size: 24px;
  background-color: orange;
}

#bottom {
  font-size: 12px;
}

.name {
  font-weight: bold;
}
